
/*
CSS
NAME: Blog Project
AUTHOR:By Celal GEZER
DATE:09.05.2023
VERSION:v.1
DESCRIPTION: 
*/

:root{
    --template-bg: black;
    --template-color:white;
    ---parag-color:rgba(0,0,0,.7)
}
/*### COMMON PROPERTY ###*/
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 15px;

}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;/*1.1rem=1.1*15px*/
  }
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  i{
    font-size: 2rem;
    opacity: .9;
  }
  p{
    color: var(---parag-color);
    font-weight: 200;
    font-size: 1.4rem;
    margin: .9rem .9rem;
    font-family: 'Open Sans',sans-serif;
  }
  /* IMAGE */
  img{
    max-width: 100%;
    height: auto;
    padding: 3rem;
  }
  img:hover{
    /*box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.5);*/
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 2s all;
  }
  /* CLEARFIX */
  my_clearFix::after{
    content: "";
    display: block;
    clear: both;
  }
  /* ### LINE CLAMP ### */
  .line_clamp4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .line_clamp6{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .line_clamp8{
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .line_clamp10{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 